<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/style/bootstrap.min.css">
</head>
<body>
<div class="row-fluid">
    <div class="span3">&nbsp;</div>
    <div class="well span6">
        <form method="post" action="login" class="form-horizontal">
            <div class="control-group">
                <label for="username" class="control-label">Username:</label>
                <div class="controls"><input type="text" name="username"></div>
            </div>
            <div class="control-group">
                <label for="password" class="control-label">Passwort:</label>
                <div class="controls"><input type="password" name="password"></div>
            </div>
            <div class="control-group">
                <div class="controls"><input type="submit" value="OK" class="btn"></div>
            </div>
        </form>
    </div>
    <div class="span3">&nbsp;</div>
</div>
</body>
</html>