<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/style/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/style/style.css">
</head>
<body>
    <div class="text-right">
        <a id="logout" href="/logout">Logout</a>
    </div>

    <div id="main"></div>

    <script src="js/lib/jquery.js"></script>
    <script src="js/lib/underscore.js"></script>
    <script src="js/lib/backbone.js"></script>
    <script src="js/lib/bootstrap.js"></script>

    <script data-main="/js/app/config" src="js/lib/require.js"></script>

    <script>
        var data = __data__;
    </script>

</body>
</html>